
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url("https://static3.depositphotos.com/1000183/109/v/600/depositphotos_1097363-stock-illustration-seamless-ornament-in-color-60.jpg") !important;
    background-repeat: repeat;
    color: #444444;


    /* отступ, чтобы компенсировать высоту навбара */
    margin-top: 60px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}


.nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: white;

}

.btn-txt {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: white;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;

}

.login-txt {
    background-color: #00a1e3;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    color: white;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 15px;
    padding-top: 15px;

}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(134, 134, 134, 0);
    padding: 17px 0px;
    font-size: 14px;

}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

.logo {
    width: 100px;
    height: auto;
}

.box {
    box-sizing: border-box;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.test1 {
    width: 75px;
    height: 15px;
    border: solid black 1px;
    background-color: #FF7373;
    display: inline-block;
}

.test2 {
    width: 75px;
    height: 15px;
    border: solid black 1px;
    background-color: lightgreen;
    display: inline-block;
}

.test3 {
    width: 105px;
    border: solid black 1px;
    background-color: #ffd22f;
    display: inline-block;
}

.empty {
    border: solid black 1px;
    width: 75px;
    height: 15px;
    /*background-color: #ffd22f;*/
    display: inline-block;
}

.my_row {
    margin: 5px;
    display: table;
}

.my_col {
    display: table-cell;
    min-width: 55px;
    font-weight: bold;
    text-align: center;
}


a:hover {
    color: #ffb3b3 !important;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: #5e5e5e !important;
}

.bg_self {
    background-color: white;
}

.test_btn {
    border: 1px solid black;
    width: 25px;
    height: 27px;
}

.box-inline {
    display: inline;
}

.box-flex {
    display: flex;
}
.text-center {
    text-align: center;
}
.form-input {
    border-radius: 5px;
    border: solid 1px lightgray;
    background: gray;
    color: white;
    padding: 3px 5px;
}

.form-error {
    border: solid 1px red;
    background: darkred;
}

.form-error:focus {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.red {
    color: red;
    font-weight: bold;
}
.add_goal {
    margin: 5px;
    border-radius: 5px;
    border: solid 1px darkgray;

}

.add_criteria {
    border-radius: 10px;
    border: solid 1px darkgray;
}
.pluss {
    border-radius: 5px;
    border: solid 1px darkgray;

}