{% extends 'base.html' %}


{% block title %}Детальный просмотр программы{% endblock %}

{% block menu %}

{% endblock %}

{% block content %}
     <h1>Детальный просмотр программы ребенка</h1>
    <div class="box">
       <p>Ребенок: {{ programs.child }}</p>
        <p>Автор: {{ programs.author }}</p>
        <p>Время создание: {{ programs.start_date }}</p>
        <p>Время окончание: {{ programs.end_date }}</p>
        <p>Навык:  {% for program_skills in programs.program_skill.all %} {{ program_skills.level }}
            {% if not forloop.last %}, {% endif %}
  {% endfor %} </p>
        <p>Статус: {{ programs.status }}</p>
        <p>Название программы: {{ programs.name }}</p>
        <p>Описание: {{ programs.description }}</p>
        <p>Коментарий: {{ programs.comment }}</p>
        <p>Дата создания: {{ programs.created_date }}</p>
        <p>Дата изменения: {{ programs.edited_date }}</p>
{#        <p>Дата удаления: {{ programs.deleted_date}}</p>#}
    </div>

{% endblock %}
