{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Детальный просмотр программы{% endblock %}
{% block menu %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:session_list' programs.pk %}">Сессии</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:update_program' programs.pk %}">Добавить навык</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:program_delete' programs.pk %}">Удалить программу</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:export_word' programs.pk %}">Експорт в Word</a>


{% endblock %}
{% block content %}
    <h1 class="text-center">Детальный просмотр программы: {{ programs.child.first_name }} {{ programs.child.last_name }}</h1>

<div class="box px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col pt-3 px-lg-5">
            <p>Дата создания: {{ programs.created_date|date:"d.m.Y" }}</p>
            <p>Дата начала: {{ programs.start_date|date:"d.m.Y" }}</p>
            <p>Ребенок: {{ programs.child }}</p>
            <p>Автор: {{ programs.author }}</p>
        </div>
        <div class="col pt-3 px-lg-5">
            <p>Статус программы: {{ programs.get_status_display }}</p>
            <p>Название программы: {{ programs.name }}</p>
            <a href="{% url 'webapp:homeworks' programs.pk %}">
                <button class="btn btn-secondary btn-sm">Домашнии задания</button>
            </a>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-lg-12 p-0 m-0">
            <p>Описание: <pre class="box">{{ programs.description }}</pre></p>
        </div>
    </div>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Навык</th>
                <th scope="col">Уровень</th>
                <th scope="col">Критерий</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for program_skills in skills.all%}
                {% for goals in program_skills.goal.all %}
                    <tr class="table-primary">
                        <td width="30%" class="text-left"> {{ program_skills.level.skill}}
                            <a class="btn btn-secondary btn-sm mt-2" href="{% url 'webapp:exel_skill' programs.pk goals.pk %}">Export Exel</a>
                        </td>
                        <td width="5%" class="text-center">{{ program_skills.level.level }}</td>
                        <td class="text-left">
                            {% if not program_skills.add_creteria  %}
                                {{program_skills.level.criteria }}
                                <a class="btn-outline-dark float-right " title="Удалить навык" href="{% url 'webapp:delete_creteria' program_skills.pk%}">
                                    <i class="fa fa-fw fa-trash fa-lg"></i></a>
                            {% else %}
                                {{ program_skills.add_creteria }}
                                <a class="btn-outline-dark float-right " title="Удалить доп критерий" href="{% url 'webapp:delete_add_creteria' program_skills.pk%}">
                                    <i class="fa fa-fw fa-trash fa-lg"></i></a>
                            {% endif %}
                            <hr align="left" width="100%" size="2" color="black" />
                        {% if goals.goal %}
                            Цель: {{ goals.goal }}
                            <a class="btn-outline-dark float-right" title="Удалить цель" href="{% url 'webapp:delete_goal' goals.pk%}">
                                <i class="fa fa-fw fa-trash fa-lg"></i></a>
                        {% endif %}
                        </td>
                        <td class="text-left">

                            {{ goals.get_status_display }}
                            <br>

                            <a onclick="open_close(event)" title="Открыть навык" class="open-goal" id="open-{{ goals.pk }}" href="{% url 'webapp:close_open' programs.pk %}">
                                <img src="{% static 'img/play.png' %}" width="15" height="15" alt="пауза"></a>
                            <a onclick="open_close(event)" title="Закрыть навык" class="close-goal " id="close-{{ goals.pk }}" href="{% url 'webapp:close_open' programs.pk %}">
                                <img src="{% static 'img/stop.png' %}" width="15" height="15" alt="пауза">  </a>
                            <a onclick="open_close(event)" title="Поставить на паузу" class="pause-goal" id="pause-{{ goals.pk }}" href="{% url 'webapp:close_open' programs.pk %}">
                                <img src="{% static 'img/pausewithcircularbutton_80264.png' %}" width="15" height="15" alt="пауза"></a>

                        </td>
                    </tr>
                {% empty %}
                    <tr class="table-primary">
                    <td class="text-left"> {{ program_skills.level.skill}}</td>
                    <td class="text-center">{{ program_skills.level.level }}</td>
                    <td class="text-left">
                        {% if not program_skills.add_creteria  %}
                            {{program_skills.level.criteria }}
                            <a class="btn-outline-dark float-right " title="Удалить навык" href="{% url 'webapp:delete_creteria' program_skills.pk%}">
                                <i class="fa fa-fw fa-trash fa-lg"></i></a>
                        {% else %}
                            {{ program_skills.add_creteria }}
                            <a class="btn-outline-dark float-right " title="Удалить доп критерий" href="{% url 'webapp:delete_add_creteria' program_skills.pk%}">
                                <i class="fa fa-fw fa-trash fa-lg"></i></a>
                        {% endif %}
                    </td>
                    <td class="text-left">{{ program_skills.get_status_display }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
        <a class="btn btn-secondary btn-sm mt-2" href="{% url 'webapp:export_word' programs.pk %}">Експорт в Word</a>
<script type="application/javascript" src="{% static "js/close_open.js" %}"></script>
{% endblock %}