{% extends 'base.html' %}
{% block title %}Личные данные ребенка{% endblock %}
{% block menu %}
    <li><a class="btn btn-primary" href="{% url 'webapp:child_tests' child.pk %}">Оценка навыков</a></li>
{% endblock %}
{% block content %}
    <h1>Личные  данные ребенка</h1>
    <div class="box">
        <p>Имя: {{ child.first_name }}</p>
        <p>Фамилия: {{ child.last_name }}</p>
        <p>Отчество: {{ child.third_name }}</p>
        <p>Дата рождения: {{ child.birthday }}</p>
        <p>Возраст: {{ child.age}}</p>
        <p>Адрес: {{ child.address }}</p>
        <p>Характеристика на ребенка: {{ child.characteristic }}</p>
        <p>Предпочтения ребенка: {{ child.preferences }}</p>
        <p>Родитель: {{ child.first_parent }}</p>
        <p>Второй родитель: {{ child.second_parent }}</p>
        {% if child.contacts == None %}
        <p>Контакты ребенка: Нет контактов</p>
            {% else %}
        <p>Контакты ребенка: {{ child.contacts }}</p>
        {% endif %}
        <p>Система коммуникации: {{ child.communication_system }}</p>
    </div>
    <div>
    <h2>Список программ ребенка</h2>
        {% for program in  programs %}

            <a class="btn btn-primary m-2" href="{% url 'webapp:program_detail' program.pk %}">Дата начала:{{program.start_date|date:"d.m.Y" }}</a>

        {% endfor %}
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'webapp:program_create' child.pk %}">Создать прогарамму.</a>
    {% endif %}
    </div>

{% endblock %}