{% extends 'base.html' %}
{% block title %}Оценка навыков{% endblock %}
{% block menu %}
    <li><a class="btn btn-primary" href="{% url 'webapp:child_create_test' child_pk %}" role="button">Новый тест</a></li>
{% endblock %}
{% block content %}
    <div class="box">
        <h3>Список тестов:</h3>
        {% for test in Test %}
            <div class="box-flex">
                <div>
                    <p class="box-inline"><b><a href="{% url 'webapp:test_result' test.pk  %}">Test № {{ test.pk }}</a></b></p>
                    <p>Ребенок: <a href="{% url 'webapp:child_view' test.child.pk %}">{{ test.child }}</a> | Терапист: {{ test.therapist}}</p>
                    <p> Дата проведения {{ test.created_date | date:"Y-m-d H:m:s" }}
                </div>
                <p class="update-btn"><a href="{% url 'webapp:child_update_test' test.pk  %}">Update</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}



