{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Testing{% endblock %}

{% block menu %}
    <li><a class="btn btn-primary" href="{% url 'webapp:child_tests' child_pk %}">Закончить тест</a></li>
{% endblock %}

{% block content %}
    <div class="box">
    <form action="{% url 'webapp:child_update_test' test_pk %}" method="get">
        <div class="row">
            <div class="col">
                {% for s in ABC %}
                    <input type="submit" name="ABC" value="{{ s }}"
                           id="{{ s }}" style="float: left; padding: 3px; margin: 3px; width: 35px">
                {% endfor %}
            </div>
        </div>
    </form>

    {% for i in skills %}
            <div class="my_row">
                <div class="my_col" id="codes">{{ i.code }}</div>
                {% for j in i.levels.all %}
{#                    <div class="my_col test_btn">#}
                        <a class="my_col test_btn" onclick="choice_level(event)" id="{{ j.pk }}"
                           href="{% url 'webapp:child_update_test' test_pk %}">{{ j.level }}</a>
{#                    </div>#}
                {% endfor %}
            </div>
{#        </form>#}
    {% endfor %}
    </div>

 <script type="application/javascript" src="{% static "js/make_test.js" %}"></script>
{% endblock %}