Child

{% extends 'base.html' %}
{% block title %}Личные данные ребенка{% endblock %}
{% block menu %}
    <li><a class="btn btn-primary" href="{% url 'webapp:child_tests' child.pk %}">Оценка навыков</a></li>
{% endblock %}
{% block content %}
    <h1>Личные  данные ребенка</h1>
    <div class="box">
        <p>Имя: {{ child.first_name }}</p>
        <p>Фамилия: {{ child.last_name }}</p>
        <p>Отчество: {{ child.third_name }}</p>
        <p>Дата рождения: {{ child.birthday }}</p>
        <p>Возраст: {{ child.age}}</p>
        <p>Адрес: {{ child.address }}</p>
        <p>Характеристика на ребенка: {{ child.characteristic }}</p>
        <p>Предпочтения ребенка: {{ child.preferences }}</p>
        <p>Родитель: {{ child.first_parent }}</p>
        <p>Второй родитель: {{ child.second_parent }}</p>
        <p>Контакты ребенка: {{ child.contacts }}</p>
        <p>Система коммуникации: {{ child.communication_system }}</p>
    </div>
    <div>
        {% for program in  programs %}
            <a class="btn btn-primary" href="{% url 'webapp:program_detail' program.pk %}">Программа №: {{program.pk}}</a>
        {% endfor %}
    <a class="btn btn-primary" href="{% url 'webapp:program_create' child.pk %}">Создать прогарамму.</a>
    </div>

{% endblock %}